//const
$black:#161616;
$red:#c62314;
$Violet:#130e27;
//common style
*
*:before
*:after {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
html body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Serif', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #000;
}
ul, li {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.wrapper {
    min-width: 1300px;
}
.container {
    max-width:1030px;
    margin: 0 auto;
}
//Hero
//Hero
//Hero
//Hero
//Hero
//Hero
.hero {
    background: url('../../assets/img/Layer1.png') center center no-repeat;
    background-size: cover;
    height: 810px;
}
//Header
//Header
//Header
//Header
//Header
//Header
.header {
    padding-top: 37px;
    margin-bottom: 120px;
}
.header.fixed {
    position: fixed;
    background: $red;
    border-radius: 10px;
    z-index: 100;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    height: 100%;
    padding-top: 20px;
}
.menu__item {
    margin-right: 18px;
    padding: 11px 15px;
    border-radius: 5px;
    .menu__link {
        color: #fff;
        transition: .4s;
        text-align: center;
    }
    .menu__link:hover {
        color:lighten(#cc291b,40%);
    }
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__item-active {
    background-color: $Violet;
}
.burger {
    display: none;
}
//hero__content
//hero__content
//hero__content
//hero__content
//hero__content
//hero__content
.hero__content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
//hero__text
//hero__text
//hero__text
//hero__text
//hero__text
//hero__text
.hero__text {
    color:#fff;
    width: 510px;
}
.hero__title {
    font-size: 90px;
    letter-spacing: -2px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 50px;
    span {
        color: $Violet;
    }
}
.hero__info {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #fff;
    font-family: "PT Serif";
}
//hero__form
//hero__form
//hero__form
//hero__form
//hero__form
//hero__form
.hero__form {
    width: 400px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    box-shadow: 2.5px 4.33px 38px rgba(137,137,137,0.71);
    position: absolute;
    top: 150px;
    right: 0;
    .btn {
    margin-bottom: 50px;
    }
    .btn__link {
        font-size: 22px;
        letter-spacing: 0px;
        color: #fff;
        padding: 19px 135px;
        background: $red;
        border-radius: 5px;
    }
}
.form__inp {
    margin-bottom: 15px;
    width: 350px;
    padding: 18px 0 18px 16px;
    background: #eee;
    border: none;
    border-radius: 5px;
}
.form__text {
    margin-bottom: 40px;
}
.conditions {
    width: 19px;
    height: 19px;
    border: none;
    border-radius: 5px;
    background: #eee;
    margin-bottom: 10px;
    margin-right: 22px;
}

.form__title {
    margin-bottom: 37px;
    padding-top: 32px;
}
//media
//media
//media
//media
//media
//media
@media (max-width:1270px) {
    //hero
    //hero
    //hero
    //hero
    //hero
    //hero
    .hero {
        width: auto;
    }
    //header
    //header
    //header
    //header
    //header
    //header
    .header__inner {
        width: auto;
    }
    .menu {
        padding-top: 28px;
    }
    .menu__item {
        font-size: 16px;
    }

    //hero__text
    //hero__text
    //hero__text
    //hero__text
    //hero__text
    //hero__text
    .hero__text {
        width: 450px;
    }
    .hero__title {
        font-size: 70px;
    }
    .hero__info {
        font-size: 16px;
    }
    //form
    //form
    //form
    //form
    //form
    //form
    .hero__form {

    }
}
//1180px
//1180px
//1180px
//1180px
//1180px
//1180px
@media (max-width:1180px){
    .wrapper {
	    min-width: auto;
    }
    .header__inner {
        display: inline;
        text-align: center;
    }
    .menu {
        justify-content: center;
    }
    .hero__content {
        display: block;
        text-align: center;
    }
    .hero__text {
        margin: 0 auto;
    }
    .hero__info {
        margin-bottom: 40px;
    }
    .hero__form {
        position: static;
        margin: 0 auto;
        .btn {
            padding-bottom: 50px;
        }
    }
}
//990px
//990px
//990px
//990px
//990px
//990px
//990px
//990px
@media (max-width:990px) {
    .container {

}
}
//740px
//740px
//740px
//740px
//740px
//740px
//740px
//740px
@media (max-width:740px) {

}
//600px
//600px
//600px
//600px
//600px
//600px
//600px
//600px
//600px
@media (max-width:600px) {
    .header {
        margin-bottom: 80px;
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
}
    .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: right;
        position: absolute;
        top: 100%;
        right: 0;
        .menu__item {
            padding: 7px 15px;
        }
    }
    .hero__text {
        width: 350px;
    }
    .hero__title {
        font-size: 60px;
    }
    .hero__info {
        font-size: 14px;
    }
    .logo {

        .logo__img {
            width: 90%;
        }
    }
    .burger {
        display: inherit;
        align-items: center;
        margin-right: 25px;
        width: 10%;
        .burger__item {
            display: block;
            width: 40px;
            height: 4px;
            background: #fff;
            color: transparent;
            position: relative;
            font-size: 0;
        }
        .burger__item:before,
        .burger__item:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            z-index: 1;
            background: #fff;
        }
        .burger__item:before {
            width: 130%;
            top: -14px;
        }
        .burger__item:after {
            bottom: -14px;
            width: 70%;
        }
    }
}
//440px
//440px
//440px
//440px
//440px
//440px
//440px
//440px
//440px
//440px
@media (max-width:440px) {
    .hero__text {
        width: auto;
    }
    .hero__form {
        width: 300px;
    }
    .form__inp {
        width: 280px;
    }
    .form__text {
        margin-bottom: 45px;
    }
    .hero__form {
        .btn {

        }
        .btn__link {
            padding: 19px 100px;
        }
    }
    .logo {

    }
}
//320px
//320px
//320px
//320px
//320px
//320px
@media (max-width:320px) {

}
//services
//services
//services
//services
//services
//services
//services
//services
//services
//services
.services {
    margin-bottom: 68px;
}
.services__title {
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 80px;
    color: $Violet;
    font-weight: bold;
    padding-top: 47px;
    margin-bottom: 96px;
    span {
        color: $red;
    }
}
.services__list {
    display: flex;
    justify-content: space-between;
}
.services__item {
    text-align: center;
    width: 21%;
}
.services__pic {
    margin-bottom: 44px;
    width: 100%;
}
.services__img {
    height: 155px;
}
.services__info {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: $black;
    font-family: "PT Serif";
    text-align: center;
}

@media (max-width:1180px) {
    .services {
        margin-top: 350px;
    }
    .services__title {
        text-align: center;
    }
}
@media (max-width:990px) {
    .services__list {
        flex-wrap: wrap;
    }
    .services__item {
        width: 49%;
        margin-bottom: 30px;
}
}
@media (max-width:600px) {
    .services {
        .container {
            width: auto;
        }
    }
    .services__title {
        padding-top: 0;
    }
}
@media (max-width:440px) {
    .services__title {
        margin-top: 40px;
    }
    .services__item {
        width: 98%;
        margin-bottom: 30px;
    }
}
@media (max-width:350px) {
    .services__title {
        padding-top: 100px;
    }
}
@media (max-width:320px) {
    .services__title {
        padding-top: 120px;
    }
}
//story
//story
//story
//story
//story
//story
.story {
    .container {
        width: 1030px;
    }
}
.story {
    width: auto;
    background: $Violet;
    .btn {
        margin-top: 18px;
        width: 26%;
    }
    .btn__link {
        color: #fff;
        padding: 20px 64px;
        background: $red;
    }
}
.story__inner {
    display: flex;
    justify-content: space-between;
    padding: 32px 19px;
    width: auto;
}
.story__info {
    width: 70%;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #fff;
    display: inline-block;
}



@media (max-width:1320px) {
    .story {
        .container {
            width: auto;
        }
    }
}
@media (max-width:1060px) {
    .story {
        .container {
            width: auto;
        }
    }
}
@media (max-width:990px) {
    .story__inner {
        padding: 32px 50px;
        flex-wrap: wrap;
        text-align: center;
        .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        .btn__link {
            white-space:nowrap;
            }
        }
        .story {
            .container {
                width: auto;
        }
    }
    }
    .story__info {
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
    }
}
@media (max-width:440px) {
    .story__inner {
        padding: 32px 15px;
    }

}
//pricing
//pricing
//pricing
//pricing
//pricing
//pricing
//pricing
//pricing
//pricing
//pricing
.pricing {
    background: #efefef;
    margin-bottom: 150px;
}
.pricing__title {
    padding-top: 63px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 80px;
    color: $Violet;
    font-weight: 700;
}
.pricing__list {
    display: flex;
    justify-content: space-between;
}
.pricing__item {
    background: #fff;
    width: 31%;
    border-radius: 5px;
    overflow: hidden;
    .pricing__card {
        padding: 34px 0 0 0;
        text-align: center;
        .card__header {
            color: $black;
            margin-bottom: 40px;
            position: relative;
            .card__tag {
                position: absolute;
                transform: rotate(-45deg);
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 28px;
                color: #1f1f1f;
                font-family: "PT Serif";
                background: $red;
                padding: 26px 80px 10px;
                top: -44px;
                left: -86px;
            }
            .card__title {
                font-size: 22px;
                letter-spacing: 0px;
                line-height: 28px;
                color: $black;
                font-family: "PT Serif";
                font-weight: 400;
                text-align: center;
            }
        }
        .card__price {
            font-size: 60px;
            letter-spacing: -1px;
            line-height: 80px;
            color: $red;
            font-weight: 700;
            text-align: center;
        }
        .card__advantages {
            color: $black;text-align: center;
        }
        .card__advantages {
            font-size: 20px;
            letter-spacing: 0px;
            line-height: 28px;
            color: $black;
            font-family: "PT Serif";
            font-weight: 400;
            text-align: center;
        }
        .card__advantages:last-child {
            margin-bottom: 60px;
        }
        .card__btn {
            margin-top: 60px;
            padding-bottom: 18px;
            text-align: center;
            .card__link {
                padding: 16px 80px;
                background: $Violet;
                font-size: 22px;
                letter-spacing: 0px;
                line-height: 28px;
                color: #fff;
                text-align: center;
                border-radius: 5px;
                transition: .4s;
                white-space: nowrap;
            }
            .card__link:hover {
                background: $red;
                color: $Violet;
            }
        }
    }
}
@media (max-width:990px) {
    .pricing {
        .pricing__list {
            flex-wrap: wrap;
            justify-content: center;
            .pricing__item {
                width: 47%;
                margin: 0 10px 15px;
                .pricing__card {
                    padding-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width:740px) {
    .pricing {
        .pricing__list {
            .pricing__item {
                width: 60%;
                margin: 0 10px 20px;
            }
        }
    }
}
@media (max-width:600px) {
    .pricing {
        .pricing__list {
            .pricing__item {
                width: 80%;
                margin: 0 10px 20px;
            }
        }
    }
}
@media (max-width:380px) {
    .pricing {
        .pricing__list {
            .pricing__item {
                width: 90%;
                margin: 0 10px 20px;
            }
        }
    }
}

.testimonial {
    width: 100%;
    .container {
	    width: 1010px;
        display: flex;
        justify-content: space-between;
}
}
.testimonial__inner {
    width: 46%;
    display: inline-block;
}
.testimonial__title {
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 80px;
    color: $Violet;
    font-weight: 700;
    margin-bottom: 60px;
    margin-left: 88px;
}
.testimonial__list {
    width: 460px;
}
.testimonial__item {
    transition: .4s;
    position: relative;
    margin-bottom: 38px;
}
.testimonial__item:hover {
    .testimonial__text {
        background: #efefef;
    }
    .testimonial__info {
        color: $red;
    }
    .testimonial__user {
        color:$Violet;
    }
}
.testimonial__text {
    padding: 27px 77px 30px 27px;
    border-radius: 5px;
    transition: .4s;
}
.testimonial__info {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: $black;
    font-family: "PT Serif";
    font-weight: 400;
    margin-bottom: 24px;
    transition: .4s;
}
.testimonial__user {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: $Violet;
    font-weight: 400;
    transition: .4s;
}
.testimonial__pic {
    position: absolute;
    bottom: 23%;
    right: -12%;
}
.testimonial__img {
    border-radius: 52px;
    box-shadow: 2.5px 4.33px 16px rgba(184,172,147,0.75);
    background-color: #d03958;
}
.gallery {
    width: 41%;
    display: inline-block;
}
.gallery__title {
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 80px;
    color: $red;
    font-weight: 700;
    margin-bottom: 70px;
    margin-left: 50px;
}
.gallery__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.gallery__item {
    width: 30%;
    margin-bottom: 35px;
}
.gallery__img {
    box-shadow: 2.5px 4.33px 16px rgba(184,172,147,0.75);
    border-radius: 52px;
}
.gallery__btn {
    text-align: center;
}
.gallery__link {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: $Violet;
}
.gallery__link:hover {
    text-decoration: underline;
}
@media (max-width:1080px) {
    .testimonial {
        .container {
            width: auto;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .testimonial__title {
        text-align: center;
        margin-left: 0;
    }
    .gallery__title {
        text-align: center;
        margin-left: 0;
    }
    .testimonial__list {
        width: 100%;
    }
    .gallery {
        width:100%;
        display: flex;
        justify-content: center;
    }
    .gallery__inner {
        width: 75%;
    }
    .gallery__item {
        width: 30%;
        text-align: center;
    }
    .gallery__btn {
        margin-bottom: 40px;
    }
}
@media (max-width:860px) {
    .testimonial__list {
        width: 100%;
    }
    .testimonial__inner {
        width: 70%;
    }
}
@media (max-width:670px) {
    .testimonial__inner {
        width: 80%;
    }
}
@media (max-width:570px) {
    .gallery__item {
        width: 105px;
    }
    .testimonial__info {
        font-size: 16px;
    }
    .testimonial__user {
        font-size: 16px;
    }
    .testimonial__pic {
        width: 105px;
    }
}
@media (max-width:520px) {
    .testimonial__pic {
        bottom: -45%;
        left: 35%;
        transform: translate(-50% -50%);
    }
    .testimonial__inner {
        width: 100%;
    }
    .testimonial__item {
        margin-bottom: 120px;
    }
}
@media (max-width:470px) {
    .gallery__item {
        width: 48%;
    }
    .testimonial__title {
        font-size: 35px;
    }
    .gallery__title {
        font-size: 35px;
    }
    .testimonial__pic {
        bottom: -40%;
        left: 35%;
        transform: translate(-50% -50%);
    }
}
@media (max-width:347px) {
    .hero__title {
        margin: 0 15px;
    }
}
//footer
//footer
//footer
//footer
//footer
//footer
//footer
//footer
//footer
//footer
//footer
//footer
.footer {
    background: $Violet;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.copyright {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #fff;
    font-family: "PT Serif";
    padding: 70px 0;
    width: auto;
    span {
        color: $red;
    }
}
.footer__logo {
    margin: auto 0;
}
@media (max-width:800px) {
    .footer {
        .container {
            flex-wrap: wrap;
            width: auto;
        }
    }
    .copyright {
        font-size: 16px;
    }
    .footer__logo {
        margin: auto auto;
    }
}
@media (max-width:700px) {
    .copyright {
        width: 100%;
        text-align: center;
    }
}